html{
    scroll-behavior: smooth;
}
body
{
	font-family: Verdana, sans-serif;
	font-size: 1.125rem;
	background-color: rgb(247, 247, 247);
}

img
{
	width: 100%;
}


/* TYPOGRAPHY */

h1
{
	text-align: center;
	padding-top: 20px;
	text-transform: uppercase;
}
h2
{
	text-transform: uppercase;
	text-align: center;
}

h3{
	text-align: left;
	text-transform: uppercase;
}

footer{
	background-color: #00203fff;
	color: white;
	padding: .50em;
}
footer p{
	font-size: 1rem;
	text-align: center;
	margin-top: .50em;
}

.container{
    width: 90%;
    max-width: 900;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #adefd1ff;
    bottom: 100px;
    right: 30px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #00203fff;
    font-size: 22px;
}


/* NAVIGATION */
.navbar{
	background-color: #00203fff;
}

.title{
	color: #adefd1ff!important;
}

.nav-item{
	margin-left: 1.5em;
	font-size: 1.3rem;
}

.nav-item .nav-link{
	color: #adefd1ff!important;
	font-size: 1rem;
}

.navbar-light .navbar-toggler {
    color: #adefd1ff!important;
}


.img-gradient:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(0,47,75,0.5) 0%, rgba(220, 66, 37, 0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(220, 66, 37, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

/* LAYOUT */
.carousel-item img{
	width: 100%;
	height: 40vh;
}

/* services we offer */
.service{
	margin-top: 4em;
}

.service h2{
	color: #00203fff;
	font-size: 1.4rem;
	font-weight: 700;
	padding-bottom: 1em;
	font-family: 'Kaushan Script', cursive;
}

.service-bg{
	background: rgba(0, 31, 63, 0.952);
	color: #adefd1ff;
	margin-bottom: .75em;
	text-align: center;
	font-size: .85rem;
	padding: 1em;
	box-shadow: 1px 0px 8px #cecfcc;
}

.service-bg h3{
	text-align: center;
	font-size: 1.3rem;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.603);
}

#card {
	margin-right: 1em;
	margin-bottom: 3em;
	cursor:pointer;
	width: 400px!important;
	height: 310px;
	position:relative;
	-webkit-transition: -webkit-transform 1s;
	-moz-transition: -moz-transform 1s;
	-o-transition: -o-transform 1s;
	transition: transform 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform-origin: right center;
	-moz-transform-origin: right center;
	-o-transform-origin: right center;
	transform-origin: right center;
}
  
#card:hover {
	-webkit-transform: translateX( -100% ) rotateY( -180deg );
	-moz-transform: translateX( -100% ) rotateY( -180deg );
	-o-transform: translateX( -100% ) rotateY( -180deg );
	transform: translateX( -100% ) rotateY( -180deg );
}

#card figure {
	display: block;
	height: 100%;
	width: 100%;
	color: white;
	text-align: center;
	font-size: 1rem;
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
  
#card figure {
	  -webkit-margin-before: 0em;
	  -webkit-margin-after:0em;
	  -webkit-margin-start: 0px;
	  -webkit-margin-end: 0px;
}
  
  
#card .front {
	background-color: #00203fff;
	color: #adefd1ff;
	padding: 1em;
}
#card .front h3{
	text-align: center;
	margin-top: 3em;
	font-size: 1.9rem;
	font-weight: 700;
}
  
#card .back {
	background: #00203fff;
	padding: 1em;
	-webkit-transform: rotateY( 180deg );
	-moz-transform: rotateY( 180deg );
	-o-transform: rotateY( 180deg );
	transform: rotateY( 180deg );
}

#card .back p{
	font-size: 1rem;
	color: #adefd1ff;
}

.service-flex{
	flex-direction: row;
}
/* end of services we offer */

/* Ballistic services */
.ballistic{
	margin-top: 4em;
}
.ballistic h2{
	color: #00203fff;
	font-size: 1.4rem;
	font-weight: 700;
	padding-bottom: 1em;
	font-family: 'Kaushan Script', cursive;
}

.ballistic img{
	padding-bottom: 1em;
}

.ballistic .ballistic-bg{
	box-shadow: 1px 0px 8px rgba(0, 31, 63, 0.322);
	padding: 1em;
	margin-bottom: 1em;	
}

.ballistic h3{
	color: #00203fff;
	font-size: 1.3rem;
	font-weight: 700;
}

.ballistic p{
	font-size: .90rem;
}

.ballistic-list ul li{
	list-style: none!important;
	margin-left: -2em;
	font-size: 1rem;
}

/* end of ballistic services */


/* about us */
.about{
	background: #00203fff;
	color: #adefd1ff;
	margin-top: 4em;
	padding-top: 3em;
	padding-bottom: 2em;
}

.about h2{
	font-size: 1.3rem;
	font-weight: 700;
	padding-bottom: 1em;
	font-family: 'Kaushan Script', cursive;
}
.about img{
	padding-bottom: 1em;
}

.about p{
	text-align: justify;
	font-size: 1rem;
}

.about ul li{
	font-size: 1rem;
}
/* end of about us */

/* gallery */
.row {
	margin: 10px;
}

.gallery{
	margin-top: 4em;
}

.gallery h2{
	font-size: 1.3rem;
	font-weight: 700;
	padding-bottom: 1em;
	color: #00203fff;
	font-family: 'Kaushan Script', cursive;
}

.gallery img{
	margin-top: 1em;
}

.gal{
	background-color: #00203fff;
	margin-bottom: 1em;
	color: #adefd1ff!important;
}
.gal p{
	padding-top: .75em;
}
.gal:hover{
	text-decoration: none!important;
}
/* end of gallery */


/* contact page */
.contact{
	margin-top: 4em;
}
.contact h2{
	font-size: 1.3rem;
	font-weight: 700;
	padding-bottom: 1em;
	color: #00203fff;
	font-family: 'Kaushan Script', cursive;
}
.contact h3{
	text-align: center;
	font-size: 1.1rem;
	font-weight: 700;
	color: #00203fff;
	padding-top: 2em;
}
.contact h4{
	font-size: 1rem;
	font-weight: bold;
	color: #00203fff;
	text-transform: uppercase;
	padding-top: 2em;
}
.contact p{
	font-size: 1rem;
	padding: 0;
	margin: 0;
}
/* end of contact page */

@media(min-width:992px){
/* navigation */
.nav-item .nav-link{
	font-size: 1.1rem;
}
.navbar-brand{
	font-size: 1.5rem;
	font-weight: 700;
}
/* end of navigation */
/* slider */
.carousel-item img{
	width: 100%;
	height: 60vh;
}

.service{
	margin-top: 4em;
}
/* end of slider */

/* ballistic */
.ballistic{
	margin-top: 4em;
}
.ballistic-flex{
	flex-direction: row;
	margin-top: 2em;
}
.ballistic-list{
	width: 30%;
}
.ballistic-video{
	width: 60%;
}
.ballistic-video video{
	width: 500px!important;
}
/* end of ballistic */

/* about */
.about{
	margin-top: 6em;
}
/* end of about */
/* contact */
iframe{
	width: 100%;
	height: 300px;
}
.contact-flex{
	flex-direction: row;
}
.contact ul li{
	margin-left: -1em;
}
/* end of contact */
.video video{
	width: 500px;
	height: 300px;
	margin-top: 2em;
	margin-left: 15em;
}
}
